.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}
.title {
    font-family: "Merienda One", sans-serif;
    color: white;
}

.background {
    position:fixed;
    top:0;
    left:0;
    size: 100%;
    z-index:-1;
    width:100%;
    height:100%;
;
    background: #ffa5a5;
    background: -moz-linear-gradient(top, #ffa5a5 0%, #ffd3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa5a5), color-stop(100%,#ffd3d3));
    background: -webkit-linear-gradient(top, #ffa5a5 0%,#ffd3d3 100%);
    background: linear-gradient(top, #ffa5a5 0%,#ffd3d3 100%);
}
  .neonCenterTitle {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(244, 255, 87),
      0 0 82px rgb(244, 255, 87),
      0 0 92px rgb(244, 255, 87),
      0 0 102px rgb(244, 255, 87),
      0 0 151px rgb(244, 255, 87);

    font-family: 'Tenor Sans', sans-serif, cursive;
    font-size: 30px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left:30%
  }
  .neonPartnerTitle {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(244, 255, 87),
      0 0 82px rgb(244, 255, 87),
      0 0 92px rgb(244, 255, 87),
      0 0 102px rgb(244, 255, 87),
      0 0 151px rgb(244, 255, 87);

    font-family: 'Tenor Sans', sans-serif, cursive;
    font-size: 30px;
    margin: 0 auto;
    position: fixed;
    top: 40%;
    left:30%
  }

.bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index: -1;
}
.caption {
    color: white;
    font-family: "Tenor Sans", sans-serif;
    font-size: 20px;
}
.center {
    display: block;
    margin: 0 auto;
}

.partner_btn {
    border-radius: 24px;
    position: fixed;
    font-family: "Tenor Sans", sans-serif;
    top: 47%;
    left: 37%;
}
.matchify_btn {
    border-radius: 24px;

}
.match_div {
    max-width: 15%;
    font-size: 10px;
}
.match_btn {
    font-size: 10px;
    border-radius: 20px;

}