<!DOCTYPE html>
<html>

    <head>
        <title>Matchify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
    </head>

    <body>
        <br>
        <p class="neonCenterTitle text-center">Now have your partner login</p>
        <br>
        <br>
        <form><div class="text-center"><a type="button" class="btn btn-success matchify_btn" href={{auth_url}}><div class="caption">LOG IN WITH SPOTIFY</div></a></div></form>
    </div>
    </body>
</html>