<html>
<head>
  <meta http-equiv="refresh" content={{ "1;url=" + url|string +"?user=" + user|string}} />
	<title>Compatify</title>
	<link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='loading.css') }}>
  <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
</head>
<body>

  <div class="background"></div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="rhombus">
      <div class="circle1"></div>
      <div class="circle2"></div>
  </div>
  <div class="text">
      <p>LOADING...</P>
  </div>
</body>

</html>