<!DOCTYPE html>
<html>

    <head>
        <title>Matchify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
    </head>

    <body>
        <br>
        <div class="background"></div>
        <p class="caption text-center">Which Songs Would You Like to Include?</p>
        <br>
        <br>
        <div class=options_buttons>
            <form>
                <div class="text-center">
                    <a type="button" class="btn btn-success matchify_btn" href="/loadingPlaylists?user=1"><div class="caption">Choose Playlists to Use</div></a>
                </div>
            </form>
            <br>
            <form>
                <div class="text-center"><a type="button" class="btn btn-success matchify_btn" href="/songsSelected"><div class="caption">Use Saved Songs Only</div></a>
                </div>
            </form>
        </div>
    </body>
</html>