<!DOCTYPE html>
<html>

    <head>
        <title>Matchify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='all_pages.css') }}>
    </head>

    <body>
        <div class="background" ></div>
        <p class="neonPartnerTitle text-center"> Now have your partner login</p>
        <br>
        <br>
        <form><div class="text-center"><a type="button" class="btn btn-success partner_btn" href={{auth_url}}><div class="caption">LOG IN WITH SPOTIFY</div></a></div></form>
    </div>
    </body>
</html>